@import "variables";

.member-avatar {
  display: flex;
  align-items: center;
  text-align: center;

  &-image {
    display: flex;
    align-items: center;
    text-align: center;

    overflow: hidden;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    background-color: rgb(127, 140, 141);

    img {
      height: auto;
      width: 100%;
    }
  }

  &-text {
    width: 100%;
    font-size: $font-size;
    font-weight: 400;
  }
}
