<form class="add-member">
  <mat-form-field class="add-member-field" appearance="outline">
    <mat-label>{{ placeholder }}</mat-label>
    <input
      type="text"
      placeholder="{{ placeholder }}"
      matInput
      [formControl]="inputControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="onSelect($event)"
    >
      <mat-option
        *ngFor="let option of filteredOptions | async"
        [value]="option.mail"
      >
        <app-member-item [member]="option"></app-member-item>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <div class="add-member-action">
    <button
      mat-icon-button
      (click)="onAddUser()"
      [disabled]="!this.selectedUser"
    >
      <mat-icon
        [svgIcon]="'feather:member-plus'"
        class="add-member-action-icon"
      ></mat-icon>
    </button>
  </div>
</form>
