@import "variables";

.sprint-team-members {
  &-card {
    margin-bottom: $gutter-size;
  }

  &-content {
    margin-top: $gutter-size;
  }

  &-empty {
    display: flex;
    align-items: center;
    gap: calc($gutter-size / 2);
    color: $brand-icon;
  }
}

:host::ng-deep {
  mat-card-subtitle {
    margin: 0;
  }
}
