<mat-card>
  {{ sprint }}
  <mat-card-content class="sprint-team-members-content">
    <div *ngFor="let member of team.members">
      <!-- pass remove -->
      <app-team-member
        [email]="member"
        (removeMember)="removeMemberFromSprintTeam($event)"
      ></app-team-member>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <app-add-team-member
      placeholder="Add member to the team"
      [options]="availableOptions"
      (addMember)="addMemberToSprintTeam($event)"
    >
    </app-add-team-member>
  </mat-card-actions>
</mat-card>
<!-- // TODO JIN UPDATE THE LAYOUT -->
