<mat-card class="sprint-team-members-card">
  <mat-card-header class="sprint-team-members-card-header">
    <mat-card-subtitle class="section-header">{{
      team.name
    }}</mat-card-subtitle>
    <div *ngIf="!!team.members?.length" class="sprint-team-members-card-count">
      {{ team.members?.length }}
    </div>
  </mat-card-header>
  <div
    *ngIf="team.members.length === 0"
    class="sprint-team-members-card-content sprint-team-members-card-content-empty"
  >
    <mat-icon [svgIcon]="'feather:frown'"></mat-icon>
    NO ONE HERE!
  </div>
  <div *ngIf="!isUnallocatedTeam" class="sprint-team-members-card-content">
    <app-add-team-member
      placeholder="Add member to the team"
      [options]="availableOptions"
      (addMember)="addMemberToSprintTeam($event)"
      (updateOptions)="updateOptions()"
    ></app-add-team-member>
  </div>
</mat-card>
<mat-accordion>
  <app-team-member
    *ngFor="let member of team.members"
    [email]="member"
    [disabled]="isUnallocatedTeam"
    (removeMember)="removeMemberFromSprintTeam($event)"
  ></app-team-member>
</mat-accordion>
