<mat-card class="sprint-team-members-card">
  <mat-card-subtitle>{{ team.name }}</mat-card-subtitle>
  <mat-card-content class="sprint-team-members-content">
    <ng-container *ngIf="team.members.length === 0">
      <div class="sprint-team-members-empty">
        <mat-icon [svgIcon]="'feather:frown'"></mat-icon>
        NO ONE HERE!
      </div>
    </ng-container>
    <app-add-team-member
      *ngIf="!isUnallocatedTeam"
      placeholder="Add member to the team"
      [options]="availableOptions"
      (addMember)="addMemberToSprintTeam($event)"
      (updateOptions)="updateOptions()"
    ></app-add-team-member>
  </mat-card-content>
</mat-card>
<mat-accordion>
  <app-team-member
    *ngFor="let member of team.members"
    [email]="member"
    [disabled]="isUnallocatedTeam"
    (removeMember)="removeMemberFromSprintTeam($event)"
  ></app-team-member>
</mat-accordion>
