<div
  class="confirmation"
  [class.info]="data.type === info"
  [class.error]="data.type === error"
  [class.warn]="data.type === warn"
  [class.success]="data.type === success"
>
  <!-- Content -->
  <div class="confirmation-content">
    <!-- Icon -->
    <div class="confirmation-content-icon">
      <mat-icon [svgIcon]="data.icon || 'feather:alert-triangle'"></mat-icon>
    </div>

    <div *ngIf="data.title || data.message" class="confirmation-content-text">
      <!-- Title -->
      <ng-container *ngIf="data.title">
        <div class="confirmation-content-title" [innerHTML]="data.title"></div>
      </ng-container>

      <!-- Message -->
      <ng-container *ngIf="data.message">
        <div [innerHTML]="data.message"></div>
      </ng-container>
    </div>
  </div>

  <!-- Actions -->
  <div class="confirmation-actions">
    <!-- Cancel -->
    <button mat-stroked-button [matDialogClose]="'cancelled'">
      {{ data.actions?.cancel?.label || "Cancel" }}
    </button>

    <!-- Confirm -->
    <button
      mat-flat-button
      [matDialogClose]="'confirmed'"
      class="confirmation-actions-confirmed"
    >
      {{ data.actions?.confirm?.label || "Confirm" }}
    </button>
  </div>
</div>
