@import "variables";

@function contrast-color($color, $dark, $light) {
  @return if(lightness($color) < $threshold, $light, $dark);
}

:host {
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  bottom: $gutter-size;
  padding: $gutter-size;
  z-index: 1;
}

.page-navigation {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: calc($gutter-size / 2);
  z-index: 999;
  border-radius: $gutter-size * 2;
  background-color: $brand-primary;
  color: $brand-primary-text;

  &-button {
    border-radius: calc($gutter-size * 2);
  }

  &-text {
    padding: 0 calc($gutter-size / 2);
  }

  &-title {
    font-size: $font-size;
  }
}
