@import "variables";

$ICON_SIZE: 24px;
$COLOR_FILLED: $brand-info;
$COLOR_UNFILLED: $brand-default;

:host {
  display: flex;
  align-items: center;
}

.skill-rating {
  &-star {
    width: $ICON_SIZE;
    height: $ICON_SIZE;
    fill: $COLOR_UNFILLED;
    &-active {
      fill: $COLOR_FILLED;
    }
  }
}

.color-stop-1 {
  stop-color: $COLOR_FILLED;
}

.color-stop-2 {
  stop-color: $COLOR_UNFILLED;
}
