@import "variables";

.user-avatar {
  display: flex;
  align-items: center;
  text-align: center;

  &-image {
    display: flex;
    align-items: center;
    text-align: center;

    overflow: hidden;
    border-radius: 50%;
    color: $brand-primary-text;
    background-color: $brand-default;
    border-width: 2px;
    border-style: solid;
    transition: border-color 2s linear;

    &-selected {
      border-color: $brand-default;
    }

    img {
      height: auto;
      width: 100%;
    }
  }

  &-text {
    width: 100%;
    font-size: $font-size;
    font-weight: 400;
  }
}
