@import "variables";
@import "mq";

$ICON_SIZE: 20px;

.team-member {
  &-header {
    padding: 0 $gutter-size;
  }
  &-action {
    margin: 0;
    justify-content: flex-end;
    white-space: nowrap;
    &-button {
      color: $brand-icon;
      font-size: $ICON_SIZE;
    }
    &-icon {
      height: $ICON_SIZE;
      width: $ICON_SIZE;
      font-size: $ICON_SIZE;
    }
  }
  &-rating {
    display: flex;
    flex-direction: column;
    gap: $gutter-size;

    &-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

@include screen("gt-sm") {
  .team-member {
    &-item {
      flex-direction: row;
      align-items: center;
    }
  }
}
