$brand-primary: #1b1f22;
$brand-accent: #d43f27;
$brand-primary-text: #ffffff;
$brand-accent-text: #ffffff;

$brand-text: #495057;
$brand-background: #f7f7f7;
$brand-border: #e9ecef;
$brand-icon: rgb(30, 41, 59, 0.5);

$brand-info: #043f53;
$brand-success: #00d5a4;
$brand-warning: #f77f00;
$brand-error: #fe657d;

$brand-info-text: #ffffff;
$brand-success-text: #ffffff;
$brand-warning-text: #ffffff;
$brand-error-text: #ffffff;

$gutter-size: 1rem;

$bg-default: #f1f5f9;
$bg-gray: #f8fafc;

$font-size: 1rem;

$border-radius: 4px;
